:root {
  --cor-primaria: #2D9A9A;
  --cor-texto: #333333;
  --cor-fundo: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: var(--cor-primaria);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

header .logo img {
  height: 80px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #dddddd;
}

.hero-section {
  background-color: var(--cor-primaria);
  color: white;
  padding: 60px 0;
}

.hero-section .container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: white;
  color: var(--cor-primaria);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
}

@media (max-width: 760px) {

  header .logo img {
    height: 60px;
  }

  .hero-section {
    padding: 20px 0;
  }
  
  .hero-section .container {
    flex-direction: column-reverse;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

}

@media (max-width: 450px) {
  header .container {
    flex-wrap: wrap;
  }

  header nav {
    width: 100%;
  }

  header nav ul {
    justify-content: space-evenly;
  }

  .hero-text h1 {
    font-size: 1.75rem;
    margin-bottom: 16px;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}